@font-face {
    font-display: swap;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dm-serif-display-v15-latin-regular.woff2') format('woff2'),
        url('../fonts/dm-serif-display-v15-latin-regular.ttf') format('truetype');
}


@font-face {
    font-display: swap;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/jost-v15-latin-regular.woff2') format('woff2'),
        url('../fonts/jost-v15-latin-regular.ttf') format('truetype');
}